[2018-11-02 22:40] killanch opened #61 "Line Graph: Provide a mechanism to map yKey to color"
- Today, the nest() function in utils/helpers/nest/nest.js does a sort
- Effectively colors are chosen based on index of yKey in above sorted datastructure.
- Instead, we need a mechanism where a mapping of yKey to color can be passed to the graph component (for example through an array of yKey-color pairs).

[2018-11-02 22:40] killanch commented on #61
@natabal I could not assign this issue. Pls do the needful.

[2018-11-21 12:36] natabal opened #70 "Table component minimum font size to be set"
When selecting more and more columns to display, the table size  is decreasing. This makes it difficult to read. Better to provide horizontal scroll.

[2018-11-21 12:41] natabal opened #71 "Clicking on a table row automatically refreshes the table"
There is no auto refresh option in Flow Explorer. When cinglick on any row in flow explorer, the flows are fetched again and the grid is populated with latest data.Further, any subsequent on the same row will not cause the refresh. Only first click on the row will cause refresh.Attaching screenshot before and after the click on a row. Also attaching har file of network Monitoring done during this

[2018-11-21 13:15] natabal opened #72 "Titles in graph component length need to have ellipsis"
Some titles are long and occupy the space of info and share buttons making it impossible to click on those buttons

For '# Flows allowed by explicit ACL', '# Flows Denied by explicit ACL', '# Flows allowed by default ACL' and '# Flows denied by default ACL', the mentioned title appear over info  and share buttons.

[2018-11-21 13:17] natabal opened #73 "on changing the time interval, some UI elements are not changing accordingly"
On the enterprise dashboard, had earlier selected 15min Interval. Following field had the mentioned values:'#ACL Deny' was 7. '#Security Events' was 7.Changed Time interval to 24Hr. Now as per data present in elastic search, I expect following counts:'#ACL Deny' should be 10. '#Security Events' should be 10. But these fileds didnt change. However graphs changed correctly.This is reproducible 50% o

[2018-12-04 05:57] #70 closed

[2018-12-04 06:02] nxanil commented on #72
Fixed in feature/viz-graphs branch

[2018-12-04 06:02] #72 closed

[2018-12-06 22:26] natabal opened #77 "Pie Graph size issues"
Pie Graph with lots of data is too small to be usable. And the labels on the pie graphs are making the graph unusable.

We need to:
- Labels on the graph should be hidden if the graph has more then 4 slices
- Legend needs to be fixed in size and provide a scroll

![screen shot 2018-12-06 at 2 23 07 pm](https://user-images.githubusercontent.com/4873481/49615473-8481a400-f962-11e8-9728-a45e5e24acc4.

[2018-12-06 22:31] natabal opened #78 "Tooltip on Graphs issue"
- If there is not data to display for a particular point on the graph no data should be shown, basically instead of showing something like: `10.10.10.10:` do not show this entry at all.
![screen shot 2018-12-06 at 2 26 57 pm](https://user-images.githubusercontent.com/4873481/49615640-0c67ae00-f963-11e8-8992-c7a4f6e16d18.png)

- Tooltip hiding behind other visualization: 2 things need to happen:

[2018-12-06 22:43] natabal opened #79 "NSG Detail View"
Because of this issue, every refresh interval will only show the in progress spinner for all the graphs which makes this dashboard totally unusable.

Stack trace:

<img width="1332" alt="screen shot 2018-12-06 at 2 35 30 pm" src="https://user-images.githubusercontent.com/4873481/49616185-d1ff1080-f964-11e8-9d72-fa10ea33fe1b.png">

I suspect is the Application From NSG visualization below you can s

[2018-12-18 00:48] natabal opened #84 "Table sorting arrow should indicate the order of the sorting"
Change the sorting order in any data grid, we can click on the column header. Clicking on the header reverses the way data is sorted. When one hovers over a column header, he can see an arrow. This arrow should indicate the order in which the data will be sorted if he clicks on the column header. (When it sorts in ascending order, the arrow should be pointing upwards and wise versa). But the arrow

[2018-12-19 02:47] natabal opened #87 "Pie Chart slice colors are not rendered if labelColumn is removed"
In the case of multiple slices on the pie chart the labels are not readable as such we are removing the labels leaving just tooltips and legends however a single color is used: black and legends are removed as well.

Configuration:

[code]

After removing the labels:

<img width="1351" alt="screen shot 2018-12-18 at 6 25 08 pm" src="https://user-images.githubusercontent.com/4873481/50195654-e5ab5f

[2018-12-24 09:48] #87 closed

[2019-01-11 23:11] natabal opened #92 "For a dashboard same configuration file is loaded multiple times"
![screen shot 2019-01-11 at 3 07 48 pm](https://user-images.githubusercontent.com/4873481/51064127-f927ae00-15b2-11e9-910d-4dd98191c429.png)

[2019-01-11 23:11] natabal commented on #92
@nxanil Please treat this with the utmost priority as we get a lot of timeouts on the UI

[2019-01-14 16:47] natabal opened #94 "Incorrect number of pages for Table"
The number of pages shows incorrectly as per below screenshot

<img width="352" alt="screen shot 2019-01-14 at 8 45 32 am" src="https://user-images.githubusercontent.com/4873481/51126832-f73f3400-17d8-11e9-93c9-e9170ca972dd.png">

[2019-01-14 16:48] #92 closed

[2019-01-16 13:36] nxanil commented on #77
@natabal
Fixed in PR - https://github.com/nuagenetworks/vsd-react-ui/pull/2005 for pie graph.
Need to fix the same case in other graphs as well.

[2019-01-16 15:02] nxanil commented on #94
@natabal I looked at the library and seems like we cannot override the styling of the Footer.
Apart from this 1-4 of 4 means, first 4 records are displayed from the total of 4 records.

Suppose if we have a paging size is of 2, then the first page will be displayed as `1-2 of 4` and the second page will be displayed as `3-4 of 4`.

Along with this, we have a config named as "hidePagination" defaul

[2019-01-16 21:31] natabal opened #99 "PortGraph overflowing out of visualization"
@nxanil We need as well to ensure that the port graphs are adjusting based on the container height as well.

<img width="1083" alt="screen shot 2019-01-16 at 1 23 22 pm" src="https://user-images.githubusercontent.com/4873481/51279785-e803e600-1992-11e9-80ea-a21afa2d475d.png">

[2019-01-24 23:50] #99 closed

[2019-01-24 23:52] #77 closed

[2019-01-25 00:07] natabal opened #103 "Chord Diagram - selecting PG categories freezes the page: infinite loop to get query"
You need data with PG name and category to reproduce this. Once I select Group by 'PG' and then attempt to select the categories the page freezes, something is happening as the CPU shoots 100+ % for that particular tab in Chrome and RAM used is in GB (in my case was 4.5GB). Unfortunately one needs to force kill the process as we won't be able to close the tab.

Looking at the http requests it seem

[2019-01-28 23:49] natabal commented on #79
@nxanil It seems that a tabification fix that has been put in late in Sept has caused an issue! Closing this issue now

[2019-01-28 23:49] #79 closed

[2019-01-29 18:26] natabal commented on #103
@nxanil This is definitely the case of loading the vss-domain-flow-group-by-category.json query config file in an infinite loop? Can you think of any code change that could cause this?

[2019-01-30 17:31] #103 closed

[2019-01-30 17:59] #71 closed

[2019-01-30 18:02] natabal opened #105 "Graphs are not re-rendering on window size change"
Need to detect and react on resizing window's height and width

[2019-01-30 18:08] natabal opened #106 "Visualizations are not re-rendering on ES connection availability"
When the connection is available again the visualizations should re-render. Note that if there is a refresh interval set then the re-rendering is happening or if changing the time interval however if you change to the time interval that was set when erred out with 'No Living Connection' for that interval we cannot re-rendered the graph even though the connection to ES is not green, see attached gi

[2019-01-30 18:09] natabal commented on #105
See the gif for an example:

![graphnotresizingonwindowresize](https://user-images.githubusercontent.com/4873481/52002505-14c9fa00-2477-11e9-8c34-4eea2350d6fc.gif)

[2019-01-31 22:18] natabal commented on #105
Thanks @nxanil  for the fixes!

[2019-01-31 22:18] #105 closed

[2019-02-01 18:21] natabal opened #107 "Styling Legends"
I think we need a bit more space between circles and text specifically because the line height is tied to the circle diameter so to increase the line height one needs to increase the circle size however in this case the text touches the circle. Not a good user experience.

![image-2019-01-31-20-09-35-298](https://user-images.githubusercontent.com/4873481/52141629-29d79200-260b-11e9-8baa-e52d32b3b7

[2019-02-04 06:02] #106 closed

[2019-02-04 17:37] #107 closed

[2019-02-04 17:38] natabal commented on #84
@nxanil Please have a look at this bug!

[2019-02-04 17:39] #78 closed

[2019-02-04 17:41] natabal opened #111 "Tooltips need to be re-initialized if the tooltip column is changing"
Part of this we need to make sure that if there is a transform on the yTickLabel the tooltip will use the transform.

@nxanil  Please address this bug asap

[2019-02-04 18:41] natabal opened #112 "yAxis label are crowded"
It seems that when the distribution on the yAxis is too small the labels are crowded need a solution similar to xAxis where we could distinguish the labels. See attached screenshots!

![traffic_graph](https://user-images.githubusercontent.com/4873481/52229241-4f61d700-2869-11e9-9ad4-47555e89ef09.PNG)
![sla_graphs](https://user-images.githubusercontent.com/4873481/52229246-50930400-2869-11e9-80cf-e

[2019-02-06 04:56] nxanil commented on #94
@natabal Any update on this?

[2019-02-06 14:24] nxanil commented on #112
@natabal
Fixed in PR #115. Please have a look.

[2019-02-06 18:34] natabal commented on #84
@nxanil I tested this and it seems that sorting is not following the direction of the arrow! When clicking first time the arrow shows up which means usually ASC, then click again the items become unsorted, then click yet again and it will move the arrow down and but the sorting is ASC. Please have a look at the attached gif.

![tablesortingbehaviour](https://user-images.githubusercontent.com/48734

[2019-02-07 05:21] #112 closed

[2019-02-08 05:35] #84 closed

[2019-02-08 05:35] #111 closed

[2019-02-08 05:41] nxanil commented on #73
@natabal
I guess it is fixed.

[2019-02-08 05:41] #73 closed

[2019-03-05 18:06] natabal opened #125 "Sorting arrow on tables display incorrectly with active refresh interval"
When refresh interval is set after refresh interval, the arrow mark disappears however the contents are sorted according to the previous sorting preferences.

Note: The arrow mark re-appears If I refresh only the table manually (Using table level refresh if its provided)

This is a leftover from #84

[2019-03-11 18:29] natabal opened #127 "Table Search Bar: cannot write into search once the search errors out"
Two issues I noticed with the search bar (reported initially by PLM):

- It seems that search bar keeps erring out and it will take some time for the user to be allowed to write again into the search box
- once the search is correct and if the user wants to add to the search more fields there is no way to write anymore

Here is a short gif that hopefully captures this:

![SearchBar](https://user-i

[2019-03-11 23:09] natabal opened #128 "tabifyOptions: field concatenation not working for Flow Visualization: Flow Details table"
It seems that we still show duplication of data even though the visualization has tabifyOptions:

<img width="953" alt="Screen Shot 2019-03-11 at 4 07 25 PM" src="https://user-images.githubusercontent.com/4873481/54163940-ef39f400-4417-11e9-8d36-c84da578ea45.png">

[2019-03-11 23:12] natabal opened #129 "FlowVisualization:CSV downloaded shows 'timezones' as 'Last 24' and 'Prev 24' irrespective of the Time Interval selected"
Download CSV from '# Flows', '# Flows allowed by explicit ACL', '# Flows Denied by explicit ACL', '# Flows allowed by default ACL' and '# Flows denied by default ACL'.
Hat selected Time Interval of 15minutes. In 'timezones', it displays 'Last 24' and 'Prev 24'. Is should show 'Last 15min' and 'Prev 15min'.

Eg (From '# Flows'):
"value","timezones"

"2","Last 24"

"2","Prev 24"

However, it display

[2019-03-12 14:40] nxanil commented on #129
@natabal

It seems like it is displaying key value of `aggs->timezones->filters->filters` property of elastic search query instead of time interval. For e.g -

![Peek 2019-03-01 13-13](https://user-images.githubusercontent.com/26645756/54208561-2e447400-4502-11e9-87e0-8493d5419667.gif)

![Peek 2019-03-12 20-02](https://user-images.githubusercontent.com/26645756/54208395-da398f80-4501-11e9-866c-ce9

[2019-03-13 16:41] natabal commented on #129
@nxanil I am not familiar with this feature how do we fix this?

[2019-03-14 13:21] nxanil commented on #129
@natabal

We can fix it by making some changes in configuration files.
For example, we can make `aggs` keys (`Prev 24` && `Last 24`) of elastic search dynamic. So when we make any changes in time interval drop-down, it replace `aggs` keys from selected drop-down value. For e.g -
Here we need to replace `Prev 24` from `Prev {{duration:24}}{{unit:h}}` and
`Last 24` from `Last {{duration:24}}{{unit:h

[2019-03-14 15:26] natabal commented on #129
@nxanil I am fine with this but this approach!

[2019-03-14 16:15] #128 closed

[2019-03-14 16:15] #127 closed

[2019-03-14 16:15] #125 closed

[2019-03-19 22:00] natabal opened #134 "NATT Heatmap block click sets Destination NSG and timestamp range to "undefined""
Not sure if this will cause the table to where data is displayed to double the columns for every click as per gif attached.

![natt-heatmap](https://user-images.githubusercontent.com/4873481/54644849-9c83bc00-4a57-11e9-8255-12f38ebb5869.gif)

TRACE: 2019-03-19T21:43:23Z
  -> POST https://<IP:PORT>/nuage_natt/nuage_doc_type/_search
  {
    "size": "4",
    "sort": [
      {
        "timestamp": {

[2019-03-25 16:37] #129 closed

[2019-04-08 05:52] #61 closed

[2019-04-08 05:52] #134 closed

[2019-04-09 18:24] bmukheja opened #139 "Legend showing duplicate values in Stacked bar graph"
Please see the attached image. The legend values are being duplicated.

![image](https://user-images.githubusercontent.com/15804045/55825045-ffe29600-5ab9-11e9-9268-85d3f368d65d.png)

[2019-04-09 18:28] bmukheja opened #140 "timeFormat not applicable to y-axis values"
Please see the attached image. There are two issues with the graph -

(Refer 1st image) - The y-axis values denote the time 'duration(end minus start)' in epoch_millis. The react components support formatting converting millis to minutes/seconds as we do in tooltip via "timeFormat" but that doesn't work in y-axis or x-axis. As a result, it becomes confusing for the viewer to understand the real va

[2019-04-09 18:29] bmukheja opened #141 "Epoch to date/time conversion not available in bargraph"
There is no way to use a bargraph as a time series graph. Even if specified "dateHistogram":true, in the config file, the x-axis values still remain in epoch, and get sorted by the Y-Axis value rather than the X-axis value(as a time series should be)

![image](https://user-images.githubusercontent.com/15804045/55825324-9f078d80-5aba-11e9-931d-417f0856be76.png)
[Total-Runtime-per-day-for-Agent-ovsb

[2019-04-10 13:34] nxanil commented on #141
@bmukheja @natabal  We don't have this feature for the bar graph, and we normally use a line graph for such type of graphs. Do we really need this feature for the bar graphs?

[2019-04-10 19:24] bmukheja commented on #141
Why not? Why should we limit ourselves to only one type of graph for a time-series?

[2019-04-10 19:54] natabal commented on #141
@bmukheja We don't support as of now time series for bar graph! Why do you need to use the bar graph as a time series?

[2019-04-12 21:07] bmukheja commented on #141
@natabal The linegraph is suitable for showing time series with a minor change between time intervals, but in case where the difference is quite high, line graph is pretty limited in understanding and that's why bar graph should be used for such purposes.

[2019-04-15 18:51] bmukheja commented on #140
@nxanil - Any ETA on this? cc: @natabal

[2019-04-16 22:25] bmukheja commented on #139
hi @nxanil , the latest version of vis-graphs is now not working with visualization-framework. There seems to be a module missing -

[code]

[2019-04-18 10:39] nxanil commented on #139
@bmukheja

Fix the above issue. Please verify it.

[2019-04-18 15:19] natabal opened #146 "Legend needs to be scrollable"
Text of the legend goes out of view and gets cut as they grow in numbers. See the attach view:

<img width="824" alt="Screen Shot 2019-04-15 at 5 17 48 PM" src="https://user-images.githubusercontent.com/4873481/56371831-b4fc0900-61b2-11e9-8932-bc7147c642a0.png">

[2019-04-18 15:20] natabal commented on #146
@nxanil Please have a look at this ASAP. It must go in early next week. Thanks!

[2019-04-18 18:02] bmukheja commented on #140
Hi @nxanil , I see that this covers the issue no. 2 above, thanks for the change.
Does this also cover the timeFormat in y-axis and x-axis(Issue no. 1 above)?
If no, can you please provide ETA for that?

[2019-04-18 18:30] bmukheja commented on #139
Another issue
![image](https://user-images.githubusercontent.com/15804045/56382894-598b4480-61cd-11e9-93f0-87e894c1fe3d.png)

[2019-04-18 18:31] bmukheja commented on #139
Let me know of the data you need to debug the above.

[2019-04-18 18:32] bmukheja opened #147 "Import the calendar with date/time from vsd-react-ui"

[2019-04-19 05:39] nxanil commented on #139
@bmukheja @natabal

We have upgraded the `vis-graphs` submodule to react 16 because we upgraded `VSD-REACT-UI` application on react 16. Now `visualization-framework` still have older version of react, so it throw error related to version while using `vis-graphs` in it.
@natabal please suggest me what we can do next?

[2019-04-19 05:41] nxanil commented on #140
@bmukheja

It has been done in same PR. Please have a look into readme file for implementation.

[2019-04-19 05:43] nxanil commented on #147
@bmukheja
Could you please through some light on it.

[2019-04-19 19:33] natabal commented on #139
@nxanil @bmukheja You should move visualization-framework to React 16!

[2019-04-22 16:59] bmukheja commented on #147
I was informed by @natabal that the calendar feature has been implemented in vsd-react-ui interface. There is a requirement for it in visualization-framework for similar use cases.

[2019-04-22 17:00] bmukheja commented on #139
I guess I can do that myself by editing the package.json file? Leaves me with a faster option than waiting for anil, @natabal cc @nxanil

[2019-04-22 18:54] bmukheja commented on #139
@nxanil - The below is after upgrading React to 16.0. Please debug on your side when its fully bug free let us know.
![image](https://user-images.githubusercontent.com/15804045/56518866-670a3c80-64f5-11e9-8f02-2bdcbe11a2f6.png)

[2019-04-23 05:34] nxanil commented on #139
@bmukheja

Could you please push the code on repo so that I can continue on react 16.
Also, the above error will remove by adding below packages in package.json:-
` "moment": "^2.22.2"`
`"moment-duration-format": "^2.2.2"`

[2019-04-23 05:40] nxanil commented on #147
@bmukheja
Once the `visualization-framework` has been upgraded on react 16, then I will add above feature in `visualization-framework` because calendar feature has some dependencies of react 16.

cc: @natabal

[2019-04-23 13:11] bmukheja commented on #139
@nxanil - I have just checked out the latest commit on submodule and added this line on top of your changes.
````"react": "^16.0.0"````

You can continue working on your branch, and I can take it from there when you are done, thanks!

[2019-04-23 13:11] bmukheja commented on #147
Sure! @nxanil

[2019-04-25 19:12] bmukheja commented on #139
![image](https://user-images.githubusercontent.com/15804045/56761935-74bcfd80-6753-11e9-98ba-1e05060faeed.png)

[2019-04-25 19:13] bmukheja commented on #140
![image](https://user-images.githubusercontent.com/15804045/56761949-7be40b80-6753-11e9-9425-fb8baa20e5e0.png)

[2019-04-30 18:25] killanch opened #151 "Need distinct colors in graphs"
Tracks issue 1 in http://mvjira.mv.usa.alcatel.com:8080/browse/VRS-15315

Graphs "appear" to be using same colors.

In the pie graph example below, both VNC and TABOOLA appear to be using the same color. Similarly, colors used for GOOGLE and SSL look alike.
This is confusing to the user.

<img width="847" alt="Screen Shot 2019-04-30 at 11 17 18 AM" src="https://user-images.githubusercontent.com/24

[2019-04-30 18:26] killanch commented on #151
@nxanil Can you pls have a look?

[2019-04-30 18:38] killanch opened #152 "Need mechanism to link colors across visualization"
Tracks issue 2 in http://mvjira.mv.usa.alcatel.com:8080/browse/VRS-15315

Need a mechanism for configuring same colors for same metric/key across visualizations.

For example, in the screenshots below, SSL uses blue in the bar chart, and green in pie chart.

<img width="842" alt="Screen Shot 2019-04-30 at 11 36 24 AM" src="https://user-images.githubusercontent.com/24920919/56985010-3c933180-6b3c-1

[2019-04-30 18:39] killanch commented on #152
@nxanil Can you pls take a look?

[2019-05-10 22:15] killanch opened #154 "Need mechanism to conditionally show/hide dashboard"
Need a mechanism to show or hide a specific dashboard based on a boolean flag passed as parameter

[2019-05-10 22:25] killanch commented on #154
@natabal Can you pls assign this ticket

[2019-05-13 16:16] natabal commented on #154
@nxanil Please provide a way to show/hide dashboards similarly to how we show/hide the `VSS/AAR Analytics` today!

[2019-05-24 05:44] nxjiten commented on #154
@natabal

We need to show/hide the dashboard menu button so that there will be no option to open the dashboard?
Please suggest us how to implement the same.

[2019-05-31 00:02] killanch opened #159 "Table: Column with tooltip always gets displayed in spite of CardOverlay"
Table: Column with tooltip always gets displayed in spite of CardOverlay

JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-34614

Sample:
![tabletooltip](https://user-images.githubusercontent.com/24920919/58672537-473c1480-82fc-11e9-99ba-c8af12e2adc9.gif)

Config for above table:
[code]
"nuage_metadata.aclId" uses tooltip.

Expected behavior: Column values should not get highlighted w

[2019-05-31 00:02] killanch commented on #159
@natabal Pls re-assign as appropriate
cc @nxanil

[2019-05-31 21:53] killanch opened #161 "Bar graph - bar height not aligned with y-axis value"
JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-26238

Bar graph height appears to be slightly lower than the corresponding value marked on the y-axis.

Example:
Though the tooltip value indicates '45', the bar does not touch the '45' line.

![bargraph](https://user-images.githubusercontent.com/24920919/58736685-998c3c80-83b3-11e9-8c14-90aaeb58beba.gif)

Config used:
[code]

[2019-05-31 21:53] killanch commented on #161
@natabal Pls assign as appropriate
cc @nxanil

[2019-06-03 15:11] #159 closed

[2019-06-04 04:08] nxanil commented on #146
@natabal
This issue fixed.

[2019-06-04 04:08] #146 closed

[2019-06-05 07:48] nxanil commented on #152
@natabal
This issue has been fixed

[2019-06-05 07:48] #152 closed

[2019-06-05 07:48] nxanil commented on #151
@natabal
This issue has been fixed.

[2019-06-05 07:48] #151 closed

[2019-06-10 13:05] natabal commented on #161
@killanch Please get the data from your testbed and attach it here.

[2019-06-10 16:39] killanch commented on #161
@natabal @nxanil Query, response, graph example below,

**Query:**
[code]
[code]

**Response:**
[code]

**Visualization:**
![barheight](https://user-images.githubusercontent.com/24920919/59210960-98050600-8b63-11e9-9148-23413778c8df.gif)

[2019-06-10 22:48] killanch opened #166 "Table: Need mechanism to specify font colors for individual columns"
JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-26505

Need a mechanism to get something like this,

<img width="1122" alt="Screen Shot 2019-06-10 at 3 45 41 PM" src="https://user-images.githubusercontent.com/24920919/59231865-044d2d00-8b97-11e9-982c-219bf9c4c4ab.png">

[2019-06-10 22:48] killanch commented on #166
@nxanil @natabal Pls re-assign as appropriate

[2019-06-10 23:15] killanch opened #167 "Table: Header row to remain fixed"
JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-24399

Sample:

Header row does not remain fixed when table is scrolled,
![tableb4](https://user-images.githubusercontent.com/24920919/59138979-0d46c000-8945-11e9-87c1-5b3792ee3d6b.gif)

With `fixedHeader` prop passed as true, data row columns are not aligned with header row columns.

We need fixed header row with all columns properly a

[2019-06-10 23:16] killanch commented on #167
@nxanil @natabal Pls re-assign as appropriate

[2019-06-11 00:58] natabal commented on #167
@nxjiten Please take a look at this ticket.

[2019-06-11 13:20] killanch opened #168 "ChordGraph - colorColumn not being used"
`colorColumn` configuration parameter is not being used by ChordGraph

In ChordGraph implementation, we have
[code]
Color seems to be always based on source.index.

In attached example, when 'To Underlay' is chosen, both ribbons appear in same color,

![subnetissue](https://user-images.githubusercontent.com/24920919/59274888-17e8aa00-8c10-11e9-9569-d724d22538ef.gif)

[2019-06-11 13:20] killanch commented on #168
@natabal @nxanil Pls have a look

[2019-06-13 23:09] killanch opened #174 "Table header row appears garbled - after fixed header row changes"
Table header row appears garbled - with recent fixed header row changes

@natabal @nxanil Pls re-assign as appropriate

Sample:
<img width="465" alt="Screen Shot 2019-06-13 at 5 08 23 PM" src="https://user-images.githubusercontent.com/24920919/59474989-f6e5ac00-8dfd-11e9-9537-57fbb6ca3889.png">

<img width="1106" alt="Screen Shot 2019-06-13 at 4 06 39 PM" src="https://user-images.githubusercontent

[2019-06-14 00:15] natabal commented on #174
@nxjiten Please treat this with high priority

[2019-06-18 21:41] killanch opened #177 "VariationTextGraph - 'absolute' config appears to have been broken"
When 'absolute' configuration property is set to true, then both previous value and current value are expected to be displayed, separated by `/`, like below,
![abs1](https://user-images.githubusercontent.com/24920919/59721603-87ddce00-91d6-11e9-9cd6-c91603fb7627.png)

But this does not appear to work any more.
The current code attempts to divide values, and displays a NaN.

This seems as a result

[2019-06-18 21:41] killanch commented on #177
@natabal @nxanil pls assign as appropriate

[2019-06-18 22:27] killanch opened #178 "Area Graph - empty tooltip value to be handled"
In the area graph, if a data point is missing, the corresponding tooltip value is empty, like below,
<img width="831" alt="Screen Shot 2019-06-18 at 3 17 42 PM" src="https://user-images.githubusercontent.com/24920919/59723846-a0e97d80-91dc-11e9-9c49-a851e937e381.png">

Instead, one of the below two is required,
1. Not display the keys if corresponding value does not exist, like below
<img width="1

[2019-06-18 22:28] killanch commented on #178
@natabal Pls recommend how this should be implemented and assign as appropriate

[2019-06-20 23:54] killanch opened #182 "PortGraph: state.portAreaWidth not updated in time for initial render"
JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-35510

When port graph is rendered, the correct portAreaWidth value is not used for the **initial** render.
It gets rendered with default value 100.
On subsequent change of filter, the correct value gets used.

Expected behavior: Initial render to use correct value for portAreaWidth

Sample:

![portgraph](https://user-images.githubuserc

[2019-06-20 23:55] killanch commented on #182
@natabal pls re-assign as appropriate

[2019-06-24 06:55] #177 closed

[2019-06-24 17:40] killanch commented on #178
With large number of y-keys, tooltip information is not complete.
Sample:

![agraph1](https://user-images.githubusercontent.com/24920919/60039777-62d0db80-966c-11e9-8360-9c797dd09bff.gif)

[2019-06-25 10:26] #182 closed

[2019-06-25 10:50] #166 closed

[2019-06-25 10:51] #161 closed

[2019-06-25 10:51] #154 closed

[2019-06-25 21:40] killanch opened #188 "Stats line graphs - line color not in alignment with custom legend"
In Graphs/LineGraph/index.js we have,

[code]
After this nextLinesData appears to be sorted based on alphabetic order of strings in `linesColumn`

After this re-ordering the colors used in the custom legend and the colors used in the line graph do not match any more.

Sample:
<img width="784" alt="Screen Shot 2019-06-25 at 2 32 41 PM" src="https://user-images.githubusercontent.com/24920919/6013560

[2019-06-25 21:40] killanch commented on #188
@natabal @nxanil pls re-assign

[2019-06-26 07:26] nxanil commented on #188
@killanch
Can you please provide me the configuration of this line graph. So that I can reproduce the same issue at my end. Currently, it is working fine at my end.

[2019-06-26 16:19] killanch commented on #188
@nxanil Below was the config used,
[code]

[2019-06-27 15:49] nxjiten commented on #188
@killanch
As I am looking at my end, it is working fine.
Could you please provide me the data for the same so that I  can reproduce the same.
Thanks

[2019-06-27 16:07] killanch commented on #188
@nxjiten the below is the data,
data:
[code]

flatData:
[code]

[2019-06-27 18:04] nxjiten commented on #188
@killanch

As I tested the same from the above config and data, it works fine here,
Also, I have used flat data as well and everything seems to fine for me.

[![Screenshot from Gyazo](https://gyazo.com/8714a91983677758ef270cf47deec5a2/raw)](https://gyazo.com/8714a91983677758ef270cf47deec5a2)

[2019-06-27 18:22] natabal commented on #188
@nxjiten In our case we do not use a legend! Please remove the legend and ensure that the index is respected

[2019-06-27 18:36] nxjiten commented on #188
@natabal
As I go through the configuration options for line graphs, I found that we have also an option to specify yColumn ( or linesColumns) mapping with colors

[![Screenshot from Gyazo](https://gyazo.com/009241f17858d5ef1181199f5ffaab03/raw)](https://gyazo.com/009241f17858d5ef1181199f5ffaab03)

color :  ["#5A83DE", "#F76159"],
linesColumn: ["QP Bytes", "NC Bytes"]
So we can write colors array a

[2019-06-27 20:17] natabal commented on #188
Thanks @nxjiten This is good! Will try it out.

[2019-06-27 21:32] killanch opened #191 "Line graph tooltips - exception in certain scenarios"
Below exception reported, not sure of exact steps to reproduce. But seen fairly often.

<img width="809" alt="Screen Shot 2019-06-27 at 2 31 19 PM" src="https://user-images.githubusercontent.com/24920919/60302265-4d67e580-98e8-11e9-9ae9-a6c5f8938702.png">

[2019-06-27 21:33] killanch commented on #188
@nxjiten Passing linesColumn as suggested by you appears to solve the problem. thanks.

I noticed two other issues related to tooltips,
1. Tooltips not getting reinitialized - https://github.com/nuagenetworks/vis-graphs/pull/190
2. Exception related to tooltips - https://github.com/nuagenetworks/vis-graphs/issues/191

[2019-06-28 18:42] killanch opened #193 "Chord Graph - stops responding to filter change"
Steps to reproduce:
1. Open VSS flow graph - with default ACL Action `Allow`, the graph gets displayed - this is expected
2. Change ACL Action to `Deny`, no matching flows and hence no data to visualize - this is expected
3. After this, if action is changed back to `Allow`, graph displayed in step 1 is not displayed anymore. It requires re-selection of same action `Allow` again for the graph to ge

[2019-06-28 18:43] killanch commented on #193
@nxanil Can you pls take a look?
cc @natabal

[2019-06-28 19:35] natabal commented on #193
@nxanil It seems that the graph does not get painted!

[2019-06-28 22:32] killanch opened #194 "DynamicBarGraph - height issue"
This issue is easily noticed when data value is less than 10.
The bar graph height is lesser than actual value.

Sample with data value 7,
<img width="463" alt="Screen Shot 2019-06-28 at 3 30 14 PM" src="https://user-images.githubusercontent.com/24920919/60374501-a9e70580-99b9-11e9-82db-ad203a7f2128.png">

This may be because `sumMax` computed in helper is one less than the actual sum if index ==

[2019-06-28 22:32] killanch commented on #194
@nxanil can you pls take a look?

[2019-07-01 08:38] #188 closed

[2019-07-01 08:40] #167 closed

[2019-07-01 13:17] #193 closed

[2019-07-03 04:56] #194 closed

[2019-07-03 04:57] #191 closed

[2019-07-03 05:02] #178 closed

[2019-07-03 15:02] #94 closed

[2019-07-18 16:17] natabal opened #201 "On hovering ACL ID of Application Details table, Full ACL Id is not visible"
Steps to reproduce
- Click on Application Analytics
- Hover on ACL ID of Application Details table
Text shown is not full and we can use scroll bar while hovering
ACL ID in ES-1ea6f4ff-9948-4ba3-b37f-e067e36bca5f
ACL ID on UI- 1ea6f4ff-9948-4ba3-b37f-e067e36bca

[2019-07-18 16:18] natabal opened #202 "Chord Diagram doesn't show any error message when there is any connectivity issue"
When there is connectivity issue chord diagrams are not getting updated but also it is not showing any error/warning message.
Can we please have it checked.
As it is an intermittent issue I don't have screenshot now, but will attach it once I face it again.

[2019-07-18 16:22] natabal opened #203 "Chord Diagram is not getting updated after selecting acl action as Deny"
There are 2 ACL action types by default Allow is selected however when selecting the other option (deny) the chord diagram does not get updated.

[2019-07-22 13:16] natabal commented on #203
![Deny_Overlay_Underlay (1)](https://user-images.githubusercontent.com/4873481/61635346-38ad1200-ac48-11e9-9906-6f059416748e.gif)

[2019-07-23 10:19] nxjiten commented on #203
@natabal
Please provide the data as discussed on call to reproduce the above issue.
Thanks

[2019-07-25 05:51] natabal commented on #203
@AnamikaDubey07 Can you please generate some data for @nxjiten to debug?

[2019-07-25 05:51] natabal commented on #202
@AnamikaDubey07 As per our conversation during Mon's meeting please add here the steps to reproduce this issue.

[2019-07-26 09:58] AnamikaDubey07 commented on #203
@natabal sure i am in touch with @nxjiten
I have data in testbed, will ask him what details he needs from my side.

[2019-07-29 08:23] AnamikaDubey07 commented on #203
![image](https://user-images.githubusercontent.com/53247988/62032807-37f81b00-b208-11e9-963e-e9b932700b06.png)

[2019-07-29 10:04] nxjiten commented on #203
@AnamikaDubey07
As discussed, please provide the JSON data to reproduce the same issue.

[2019-07-29 10:05] nxjiten commented on #202
@AnamikaDubey07,

Please write down the steps to reproduce this issue.

[2019-07-29 10:05] #201 closed

[2019-07-29 11:41] AnamikaDubey07 commented on #203
![Deny_Overlay_Underlay](https://user-images.githubusercontent.com/53247988/62045717-b4e4be00-b223-11e9-9734-87d84ba44d10.gif)
[Deny_Overlay_Underlay.txt](https://github.com/nuagenetworks/vis-graphs/files/3441852/Deny_Overlay_Underlay.txt)
[Nuage_Flow.txt](https://github.com/nuagenetworks/vis-graphs/files/3441853/Nuage_Flow.txt)

[2019-07-30 10:15] AnamikaDubey07 commented on #202
In Flow Explorer After changing time interval Flows per domain Diagram is not visible.
PFA

[2019-07-30 10:23] AnamikaDubey07 commented on #202
![ScreenShot_NetworkError](https://user-images.githubusercontent.com/53247988/62121432-32bacf00-b2e1-11e9-8bd9-a91503cb1d1b.png)
[nuage_Flow.txt](https://github.com/nuagenetworks/vis-graphs/files/3446312/nuage_Flow.txt)
[Network_Error.txt](https://github.com/nuagenetworks/vis-graphs/files/3446315/Network_Error.txt)
[Console.txt](https://github.com/nuagenetworks/vis-graphs/files/3446317/Console.txt

[2019-07-30 12:47] nxjiten commented on #203
@natabal @AnamikaDubey07

I have tested the chord graph by using the data provided by Anamika and found that everything working fine as expected.

The data is not coming in case of `DENY` because there are other filters in query which filter out all `DENY` data as given below: -

![Screenshot from 2019-07-30 18-02-24](https://user-images.githubusercontent.com/49763726/62129554-9bf80d80-b2f4-11e9-9

[2019-07-30 14:35] natabal commented on #203
@nxjiten There are 2 diagrams: overlay and underlay! The above configuration is for the Underlay diagram. For the overlay diagram use vss-domain-flow.json query.

[2019-07-30 14:51] nxjiten commented on #202
I will look into it.

[2019-07-30 23:42] natabal opened #206 "Line Graph showing discontinued lines"
I have a line graph that plots a series over time. The query will return the number of hits over a period of time. The data is collected every 10 min however at times the timestamp for each row inserted every 10 min could differ by a few mills. In these situations the lines show broken in the LineGraph.

<img width="1090" alt="Screen Shot 2019-07-30 at 4 29 31 PM" src="https://user-images.githubus

[2019-07-30 23:47] natabal commented on #206
For the queries and visualization configuration please refer to this [PR](https://github.com/nuagenetworks/vis-config/pull/88)

[2019-07-31 08:08] nxjiten commented on #203
@natabal

I have tested the overlay diagram and yes data is coming when we select `DENY`, but in that case either `source` field or `destination` field is coming null from the data provided by @AnamikaDubey07  and it will be filtered out in `parseData` method as given below in screenshot:

![02286d583715cb837e48c908705de6dc](https://user-images.githubusercontent.com/49763726/62194853-4e34e100-b398

[2019-07-31 12:17] nxjiten commented on #206
Hi @natabal

There is a property `showNull` which is `false` in setting file (`nsg-gw-selection` ).

This property is used to show/hide null value points on line graph while drawing lines.

![02286d583715cb837e48c908705de6dc](https://user-images.githubusercontent.com/49763726/62210997-1723f700-b3bb-11e9-8822-18f4305e9f4b.png).

Please let me know if I am missing anything.

[2019-07-31 12:43] natabal commented on #206
Thanks @nxjiten I think I missed the second showNull in my config.

[2019-07-31 13:39] nxjiten commented on #202
@AnamikaDubey07

Could you please provide the video for the same or steps to reproduce the same issue?

[2019-07-31 16:03] natabal commented on #203
@AnamikaDubey07 Can you please investigate why is the source/destination null? Thanks!

[2019-08-05 13:18] natabal commented on #206
<img width="1079" alt="Screen Shot 2019-07-31 at 12 18 42 PM" src="https://user-images.githubusercontent.com/4873481/62467517-d0325a80-b748-11e9-833d-3a6f8750a21a.png">

[2019-08-05 13:32] #202 closed

[2019-08-08 00:16] killanch opened #209 "Accept xTicksLabel from configuration"
Currently we have a mechanism to specify yTicksLabel.

In a similar fashion, we need a mechanism to specify xTicksLabel.

For example, in the graph below, `OverlayPAT` is the value in elastic response. In the graph configuation we should be able to specify,
[code]
and the same should be used as corresponding x-axis label.

<img width="554" alt="Screen Shot 2019-08-07 at 5 08 49 PM" src="https://us

[2019-08-08 00:16] killanch commented on #209
@nxanil Can you pls have a look?
cc @natabal

[2019-08-12 21:53] killanch commented on #209
@nxanil Noticed a minor issue.

The following was my config,
[code]
If data is missing for some of the keys, those keys get displayed at the starting of the x-axis. Pls see screenshot below, I have highlighted the problem in a red rectangle.

![xLabels](https://user-images.githubusercontent.com/24920919/62901112-d14b2500-bd10-11e9-9de2-e08af4c2e4d7.png)

Instead, can we just hide those labels for

[2019-08-20 07:53] #206 closed

[2019-08-22 06:07] shashank-nx opened #213 "Table search option issue"
@nxanil @nxjiten @natabal

After clicking on search option in table graph, it show search option. This search option popup position is fixed, then scrolling in page its value is above our graph. Because of this unable to view and verify graph data.
![TableSearch](https://user-images.githubusercontent.com/47311742/63489908-03a71000-c4d1-11e9-84a1-2e37653b208e.gif)

[2019-08-22 14:25] natabal commented on #213
@nxanil Can you please have a look?

[2019-08-23 23:26] killanch opened #214 "BarGraph: brush gets unnecessarily reset"
The below issues were reported in http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-31899

User increases the default brush width and scrolls to view the bar graphs.

On selecting a specific bar, the below issues were observed,
1. Brush width gets reset to default width 2
2. Brush gets reset to the left edge

Expected behavior: The graph should say as is, allowing the user to continue to select the

[2019-08-23 23:26] killanch commented on #214
@natabal @nxanil Pls re-assign

[2019-08-26 20:40] killanch opened #217 "Line Graph - x-axis time format to be accepted in config"
Today `xTickFormat` is used in `xAxis.tickFormat(format(xTickFormat))`.

But in a dateHistogram graph, the x-axis will be in time scale. And if xTickFormat is used to specify a time format (for example "%m/%d %H:%M"), it results in an error.

For time, we will have to use d3.timeFormat().

This needs to be implemented for LineGraph

[2019-08-29 05:42] nxanil commented on #217
@killanch
This issue has been fixed. Please verify this.

[2019-08-29 15:40] killanch commented on #217
@nxanil verified, works as expected

[2019-08-29 20:45] killanch opened #220 "Table - unselected default columns re-appear on changing any filter or on table refresh"
After unselecting a default column, it gets removed from the table.

But if any filter is changed, or if table refresh is invoked, the unselected default columns re-appear on table reload.

Sample:
In the example below, Timestamp, Source IP, Source Port, Destination IP and Destination Port were all unselected. But on changing the time interval filter, they re-appear on the same table.

![tableissu

[2019-08-29 20:47] killanch commented on #220
@natabal Pls have a look. You may close if you feel this behavior is OK. But it was annoying for me to keep unselecting the columns that I was not interested in.

[2019-08-29 21:33] natabal commented on #220
@nxjiten please have a look. Thanks

[2019-08-30 05:20] natabal opened #221 "Chord Diagram needs to pass listeners onClick on a ribbon"
When clicking on a ribbon on Chord diagram we load a table with the flow between a source and destination however we need more information to pass to for the query to correctly get the data. Presently only source and destination get passed to onMarkClick.

In addition, values of any other listener parameters specified in visualization configuration also need to be passed.

[2019-08-30 05:20] #217 closed

[2019-08-30 05:21] #203 closed

[2019-08-30 13:46] natabal commented on #213
@shashank-nx available in PR

[2019-08-30 13:55] natabal opened #223 "Group Bar Charts"
<img width="704" alt="Screen Shot 2019-08-30 at 6 54 13 AM" src="https://user-images.githubusercontent.com/4873481/64026136-04542d80-caf3-11e9-956b-c961a9ba6d81.png">

[2019-08-30 17:10] #214 closed

[2019-09-09 08:34] nxanil commented on #221
@natabal I want to have a discussion on this, as we are calculating the cumulative data on this on the client-side, therefore, how we can get more information on this, unlike other charts.
This is a bit different from other charts.

[2019-09-10 04:47] #209 closed

[2019-09-20 22:43] killanch opened #234 "Multiline Graph - Tooltip issues"
This is related to JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-33131

In a multiline graph, below 2 issues were observered.

**Issue 1**: As long as data is present, tooltips get rendered correctly.
But when we move to line without any data points, invalid timestamp tooltip gets displayed.
Sample below:
![multilinetooltip](https://user-images.githubusercontent.com/24920919/653626

[2019-09-20 22:43] killanch commented on #234
@nxanil can you pls have a look?
cc @natabal

[2019-09-24 06:40] #221 closed

[2019-09-24 16:21] natabal opened #236 "Table header and column alignment"
It seems that table header is not aligned with the columns. @nxjiten please fix for current and ensure that the new lib the header is aligned.

![table-alignment](https://user-images.githubusercontent.com/4873481/65530311-8cd4ac80-deac-11e9-9a77-df2de895df22.png)

[2019-09-25 08:34] nxjiten commented on #236
Issue is fixed in PR: #238

[2019-09-26 12:56] natabal commented on #234
@nxanil the item 2 is not fixed

[2019-09-30 22:07] killanch opened #240 "Table style inconsistency"
If `selectColumnOption` is not specified, **bottom** of the table does not seem to align properly.
Sample:
<img width="1106" alt="WithoutSelect" src="https://user-images.githubusercontent.com/24920919/65920488-f9abe300-e393-11e9-897a-838bf1fffb05.png">

The same table appears to be fine with `selectColumnOption` set as `true`,
<img width="1109" alt="WithSelectCols" src="https://user-images.githubu

[2019-09-30 22:08] killanch commented on #240
@nxanil can you pls take a look?
cc @natabal

[2019-10-01 10:28] nxjiten commented on #240
@killanch, @natabal
Please have a look. PR: #241

[2019-10-09 21:39] killanch commented on #234
@nxanil I noticed this in latest build. When there is no data, we have a blank tooltip. Instead, can we avoid showing the tooltip?
![tt1](https://user-images.githubusercontent.com/24920919/66522558-8f392800-eaa2-11e9-96c8-7086ae8d565d.gif)

cc @natabal

[2019-10-10 22:26] bmukheja commented on #139
This is still happening in the updated code. see below -

![image](https://user-images.githubusercontent.com/15804045/66611072-481a6800-eb72-11e9-8988-a7a7106188ea.png)

[2019-10-11 20:24] killanch opened #253 "Time interval filter - Label does not change after changing from custom interval"
After changing from custom interval to any other value, though the updated query gets executed, displayed value in filter does not change.
And the chip remains as is.
The correct value gets displayed only on explicitly closing the chip.
![table-timeinterval](https://user-images.githubusercontent.com/24920919/66682563-51670b80-ec2a-11e9-98fa-2e10cc8cb13e.gif)

[2019-10-11 20:24] killanch commented on #253
@natabal can you pls have a look?

[2019-10-14 22:45] killanch opened #254 "nextPrevFilter endTime issue if time interval filter used within visualization"
If `Time interval` filter is used within the visualization, then endTime value does not get reset on reselecting `Time interval` filter value.

Sample:
![nextprev](https://user-images.githubusercontent.com/24920919/66787433-8f696700-ee98-11e9-96a5-f755718448a1.gif)

In the above example, on re-selecting the last 15 min filter option, the end time being used corresponds to the last set value by Nex

[2019-10-14 22:46] killanch commented on #254
@nxanil can you pls have a look?
cc @natabal

[2019-10-14 23:51] natabal commented on #254
@nxanil Let's fix this one! Thanks

[2019-10-15 04:30] natabal commented on #240
@killanch Please verify in master.

[2019-10-15 04:31] #236 closed

[2019-10-15 14:05] killanch commented on #240
@natabal verified, looks good to me.

[2019-10-15 14:05] #240 closed

[2019-10-15 15:22] natabal commented on #234
@nxanil The issue #2 and the empty tooltip needs to be addressed as well. Thanks

[2019-10-16 22:43] killanch opened #257 "Style change needed for no data text"
When line graph is used for stats, with no data, the graph appears as below.
This uses `center-text` from `Graphs/style.css`

<img width="1095" alt="Screen Shot 2019-10-16 at 3 39 39 PM" src="https://user-images.githubusercontent.com/24920919/66964404-62998900-f02b-11e9-8b8f-7e474b780ebd.png">

Instead we need something like below,

<img width="1095" alt="Screen Shot 2019-10-16 at 3 38 34 PM" src=

[2019-10-16 22:43] killanch commented on #257
@nxanil @natabal can you pls have a look?

[2019-10-17 04:28] #253 closed

[2019-10-17 11:44] nxanil commented on #257
@killanch
It would be great if you provide this graph for us because it is very tough to calculate dynamic width at runtime to centralize the text. If I will get this graph config then it will be easy for us to centralize the text.
Else another solution is to fix the width of the calendar (in percentage or pixel) into the graph and then calculate the width.

[2019-10-17 13:52] killanch commented on #257
@nxanil The config used is as below,
[code]
You may refer to https://github.com/nuagenetworks/vsd-react-ui/blob/master/src/EntityStats/MetricsGraph.js for details of the same.

We are rendering <RadioButtonAsAValue/> before <GraphView/>.
And we render <MetricsComponent/> after <GraphView/>.

[2019-10-18 00:26] killanch opened #258 "Table: On removing filter, unable to scroll to next page"
JIRA ticket: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-38423

On removing filter, user is unable to scroll to next page. Only the first page is viewable.

Steps to reproduce:
1. Start with a table with large number of rows (210 in example below)
2. Choose a filter that will not match any rows - empty table displayed as expected
3. Clear the filter. Now table content in step 1 is expected to

[2019-10-18 00:26] killanch commented on #258
@nxjiten Can you pls have a look?
cc @natabal

[2019-10-18 04:43] natabal commented on #258
@nxjiten We need a fix asap. Thanks!

[2019-10-18 18:01] killanch opened #260 "Pie Graph - legend text truncated"
- Complete text is not displayed in legend
- Also noticed that the top edge of the text is getting cut

Sample:
<img width="563" alt="Screen Shot 2019-10-18 at 10 58 02 AM" src="https://user-images.githubusercontent.com/24920919/67116989-6c8bcb00-f196-11e9-8dbf-e7ee9f5f7500.png">

[2019-10-18 18:01] killanch commented on #260
@natabal pls re-assign as appropriate

[2019-10-18 18:04] natabal commented on #260
@killanch Please adjust in the config.

[2019-10-18 20:48] killanch commented on #254
@nxanil the below issues still need to be addressed,

But I noticed other related issues.
**1.** I chose `Last 1h`, scrolled to previous window, all was good.
When I come back to original window, though data is rendered correctly, the filter value gets reset to `Last 15 min` and not the original chosen value `Last 1h`.
So the data rendered and the filter value displayed do not correspond to each o

[2019-10-18 22:43] #260 closed

[2019-10-18 23:06] killanch opened #261 "Advanced search - eliminate needless _mapping elastic requests"
With `isAdvancedSearch` true configuration, every filter value change triggers an `_mapping` REST request to elasticsearch.
It appears that before every new elastic search, we are also triggering this `_mapping` request.
This is excessive, we could limit this request to just one, at the time of initial loading of the visualization.

Sample:
![mapping](https://user-images.githubusercontent.com/2492

[2019-10-18 23:06] killanch commented on #261
@nxanil can you pls have a look?
cc @natabal

[2019-10-22 19:14] killanch opened #265 "Table: Unable to select columns when row(s) selected"
When one or more rows is selected, I am unable to select columns.

Sample:

![tablecolumn](https://user-images.githubusercontent.com/24920919/67311384-4e82db00-f4b4-11e9-8043-62d50b61bd49.gif)

[2019-10-22 19:15] killanch commented on #265
@nxjiten can you pls take a look?

[2019-10-22 19:48] natabal commented on #258
@nxanil Please provide a fix for this

[2019-10-22 19:49] natabal commented on #258
@killanch Is this fixed?

[2019-10-22 22:33] killanch opened #266 "Table: Style issues"
**1. Footer style improper if total records < pageSize**

If total records is less than pageSize, table footer looks as below,

<img width="1106" alt="tf1" src="https://user-images.githubusercontent.com/24920919/67339895-fd3d1080-f4e0-11e9-9379-ba07a01c1230.png">

If zero records, then is ok
<img width="1105" alt="tf2" src="https://user-images.githubusercontent.com/24920919/67339943-0e861d00-f4e1-

[2019-10-22 22:33] killanch commented on #266
@nxjiten can you pls have a look?
cc @natabal

[2019-10-22 22:43] killanch commented on #258
@natabal yes, we already brought in and merged the fix https://github.com/nuagenetworks/vsd-react-ui/pull/3337
I had assigned the corresponding JIRA ticket to Neeharika for validation

[2019-10-22 22:43] #258 closed

[2019-10-23 17:17] killanch commented on #266
@nxjiten Can you pls address the 2 additional issues I have reported above. These are with your latest changes in https://github.com/nuagenetworks/vis-graphs/pull/268

[2019-10-24 00:28] killanch opened #272 "Bar Graph - add support for whole number only tick labels"
With `"yTickFormat": "d"`, y-axis ticks appear as below,

<img width="931" alt="Screen Shot 2019-10-23 at 5 23 38 PM" src="https://user-images.githubusercontent.com/24920919/67443520-1796ed00-f5ba-11e9-8a5d-d7fdaaa3e68d.png">

Without any `yTickFormat` specified, the same graph appears as below,
<img width="924" alt="Screen Shot 2019-10-23 at 5 25 53 PM" src="https://user-images.githubusercontent.

[2019-10-24 00:28] killanch commented on #272
@natabal pls have a look

[2019-10-25 15:44] natabal commented on #266
@nxjiten These issue needs to be addressed ASAP.

[2019-10-26 11:19] nxjiten commented on #266
@natabal
Issue has been fixed. Please have a look.

[2019-10-30 17:56] killanch commented on #266
@nxjiten @natabal My observations based on latest changes in https://github.com/nuagenetworks/vis-graphs/pull/268

**Issue 1:** Appears better, but still not perfect. See table bottom alignment issue in sample screenshots below,
<img width="1107" alt="issue1 1" src="https://user-images.githubusercontent.com/24920919/67881413-b319e780-fafd-11e9-9943-7983078fd303.png">
<img width="1111" alt="issue1

[2019-10-31 10:57] nxjiten commented on #266
@killanch
Fix all the latest issues. Please have a look.

[2019-11-01 09:40] nxjiten commented on #265
@killanch
It is a library feature where when we select any row(s) then it will hide select column options.
If you still need this feature (show select column) then we can look into it.

[2019-11-01 14:00] nxjiten commented on #266
On issue 7 - This is configurable, you may remove resizable feature from the dashboard configuration by setting `static: true` property.

Issue 6 has been fixed and commit the changes in PR #268

[2019-11-01 15:16] killanch commented on #266
@nxjiten All above issues appear to have been fixed now. Thanks.
@natabal Pls confirm if we can go ahead and merge

[2019-11-04 14:58] nxanil commented on #261
@natabal
Already merged, therefore closing this ticket

[2019-11-04 14:58] #261 closed

[2019-11-04 14:58] nxanil commented on #257
@natabal
Already merged, therefore closing this ticket

[2019-11-04 14:58] #257 closed

[2019-11-04 16:39] killanch commented on #265
@natabal Could you pls confirm if we need this

[2019-11-04 21:31] #266 closed

[2019-11-04 21:32] natabal commented on #265
@nxjiten I don't see a reason not to allow selection of new columns when the table has selected rows. Let's have this addressed after the current task is complete.

[2019-11-08 23:09] killanch opened #282 "Bar Graph - preserve data order without any sort"
Presently, it appears that bar graph sorts columns based on the count.

For example, when the data passed is like below,
[code]
the graph is as below,

![Screen Shot 2019-11-08 at 3 04 34 PM](https://user-images.githubusercontent.com/24920919/68516521-1cee6b80-0239-11ea-8226-9ac69082f7a3.png)

This sorting happens here, https://github.com/nuagenetworks/vis-graphs/blob/master/Graphs/DynamicBarGraph

[2019-11-08 23:09] killanch commented on #282
@natabal can you pls have a look?

[2019-11-13 04:42] #282 closed

[2019-11-13 04:42] #272 closed

[2019-11-15 04:27] #254 closed

[2019-11-20 22:52] killanch opened #294 "Table - height marginally more than specified configuration"
When the table has no data, its height is as per configuration, as below,

![Screen Shot 2019-11-20 at 2 49 25 PM](https://user-images.githubusercontent.com/24920919/69285194-2961b500-0ba5-11ea-9a6b-f7a4a2de477d.png)

But once data is populated, height grows,
![Screen Shot 2019-11-20 at 2 49 38 PM](https://user-images.githubusercontent.com/24920919/69285227-37afd100-0ba5-11ea-98c4-d380c1b1b910.png

[2019-11-20 22:52] killanch commented on #294
@natabal @nxanil can you pls have a look?

[2019-11-25 17:08] natabal opened #297 "on Refresh page option the selected rows should become unselected"
As per gif attached when using the 'Refresh'  button the rows stays selected, the behavior should be that refresh should clear the selection.

![vss_refresh](https://user-images.githubusercontent.com/4873481/69561945-1b27e600-0f63-11ea-8c09-5d7a7947a4b3.gif)

[2019-11-25 17:10] natabal opened #298 ""Select Columns" is not rendered on refresh"
![image-2019-11-05-14-46-36-111](https://user-images.githubusercontent.com/4873481/69562085-54f8ec80-0f63-11ea-810d-1a1d43c92c31.png)

[2019-11-25 23:57] natabal opened #299 "Sorting is not working for NSG monitoring"
/platform-configuration/infrastructure/monitoring The table does not have sorting, see gif attached.

![table-sort-issue](https://user-images.githubusercontent.com/4873481/69588032-3bc06200-0f9c-11ea-8763-1879f4c72883.gif)

[2019-11-26 00:07] #299 closed

[2019-12-05 23:17] #298 closed

[2019-12-05 23:17] #297 closed

[2019-12-05 23:18] natabal commented on #294
@killanch Have all the items in this ticket been addressed?

[2019-12-05 23:18] natabal commented on #265
@killanch With the latest changes is this addressed?

[2019-12-05 23:25] killanch commented on #294
@natabal yes, addressed

[2019-12-05 23:25] #294 closed

[2019-12-05 23:36] killanch commented on #265
@natabal yes, now able to select columns with row remaining selected,

![Screen Shot 2019-12-05 at 3 35 33 PM](https://user-images.githubusercontent.com/24920919/70283121-f60e5100-1774-11ea-9649-cba9805cb71b.png)

[2019-12-05 23:36] #265 closed

[2019-12-19 18:48] killanch opened #313 "Issue with line graph tooltip position"
Tooltip displays incorrect timestamp/data that does not correspond to x-axis time.

Issue may be related to tooltipOverlay in https://github.com/nuagenetworks/vis-graphs/blob/master/Graphs/LineGraph/index.js#L474

Sample:
![tt1](https://user-images.githubusercontent.com/24920919/71200163-6b395600-224c-11ea-9636-0a97ec4c4e1a.gif)
![tt2](https://user-images.githubusercontent.com/24920919/71200203-77

[2019-12-19 18:48] killanch commented on #313
@natabal pls re-assign as appropriate

[2020-01-14 00:36] killanch opened #316 "Line graph - does not get updated when props.configuration changes"
With `data` remaining same, if graph `configuration` alone gets changed, the line graph does not get re-rendered.

I see two issues,
1. `shouldComponentUpdate` returns false
2. `componentDidUpdate` does not invoke `setConfiguredProperties()`

Expected behavior: New configuration is to be used and the graph should get re-rendered using the updated properties

This may be related to https://github.c

[2020-01-14 00:37] killanch commented on #316
@nxanil can you pls have a look?
cc @natabal

[2020-01-14 00:58] natabal commented on #316
@nxanil Please address this issue as well.

[2020-01-20 05:30] nxanil opened #317 "Implement the Graphs on the basis of Pie Graph using Re-Charts and New Framework"
Implement the new framework for the following charts:
- [x] Pie Graph - Anil
- [x] Text Graph - Anil
- [x] Area - Jiten
- [x] Line - Jiten
- [x] Variation Text Graph - Anil
- [x] Bar - Anil
- [x] Chord - Anil
- [x] Google Maps- Anil
- [x]  Port Graph - Anil
- [x] Heatmap - Jiten
- [x] Progress Bar Graph - Anil
- [x] Gauge Graph - Jiten
- [x] Table Graph - Jiten
- [x] Tree Graph - Anil

[2020-01-22 23:45] killanch opened #318 "BarGraph does not handle date histogram related parameters"
Below exception seen,
[code]
barWidth expects an object to be passed in.
On fixing the above issue, the below issue was encountered
[code]
On fixing the above, the below exception was noticed,
[code]
Pls clarify on how date histogram related configuration parameters beed to be passed

[2020-01-22 23:45] killanch commented on #318
@nxanil can you pls have a look?
cc @natabal

[2020-01-27 19:02] natabal commented on #318
@nxanil Please have a look at this issue. Thanks!

[2020-02-03 18:13] killanch opened #323 "Bar Graph with Date Histogram - interval property to be consumed from filter context"
Today, **interval** value is expected to come from configuration properties.

https://github.com/nuagenetworks/vis-graphs/blob/master/Graphs/DynamicBarGraph/index.js#L327

Instead, can we change this to use interval from context, something like,
```this.barWidth = barWidth(this.props.context.interval, this.getScale().x)```

Based on the time period selected by user, **interval** will keep changing

[2020-02-03 18:13] killanch commented on #323
@nxanil Raised this as a separate issue, could you pls address this? Thanks.
cc @natabal

[2020-02-03 18:17] killanch opened #324 "Bar Graph with Date Histogram: X-Axis time labels"
Today, date-histogram-based bar graph looks like below,
<img width="1032" alt="Screen Shot 2020-01-30 at 11 24 43 AM" src="https://user-images.githubusercontent.com/24920919/73482759-2a585500-4353-11ea-844b-fc945cc66749.png">

The x-axis labels, though correct, do not be appear to be user-friendly.
Could we fix the x-axis labels to show time labels under each bar?

Data used for the above graph:
[

[2020-02-03 18:17] killanch commented on #324
@nxanil could you pls have a look?
cc @natabal

[2020-02-03 18:45] killanch commented on #318
Fixed in https://github.com/nuagenetworks/vis-graphs/pull/322/

[2020-02-03 18:45] #318 closed

[2020-02-04 22:33] killanch commented on #323
Fixed in https://github.com/nuagenetworks/vis-graphs/pull/325

[2020-02-04 22:33] #323 closed

[2020-02-05 01:33] killanch opened #326 "Bar Graph with Date Histogram: Graph not rendered if only single timestamp in data"
Graph does not get rendered if only single timestamp is present in data array,

For example with the following data, graph is not rendered,
[code]
All elements correspond to the same timestamp 1580140800000.
<img width="1109" alt="Screen Shot 2020-02-04 at 5 28 24 PM" src="https://user-images.githubusercontent.com/24920919/73802885-df37ab00-4773-11ea-9303-cb7d2fde24d8.png">

But on adding of an ad

[2020-02-05 01:33] killanch commented on #326
@nxanil can you pls have a look?
cc @natabal

[2020-02-05 19:38] natabal opened #327 "Unnecessary scrollbars for the legends"
![L4PieChart](https://user-images.githubusercontent.com/4873481/73876515-f88c3600-480b-11ea-80be-6e31011d4f2d.png)

@nxjiten Please have a look.

[2020-02-10 19:23] killanch commented on #324
Fixed in https://github.com/nuagenetworks/vis-graphs/pull/341

[2020-02-10 19:24] killanch commented on #326
Fixed in https://github.com/nuagenetworks/vis-graphs/pull/341

[2020-02-10 19:35] killanch commented on #316
Fixed in https://github.com/nuagenetworks/vis-graphs/pull/341

[2020-02-10 19:35] #316 closed

[2020-02-10 21:21] killanch commented on #326
fixed in https://github.com/nuagenetworks/vis-graphs/pull/342/

[2020-02-10 21:21] #326 closed

[2020-02-10 21:21] killanch commented on #324
fixed in https://github.com/nuagenetworks/vis-graphs/pull/342/

[2020-02-10 21:21] #324 closed

[2020-02-12 06:42] nxanil commented on #317
`BarGraph`

`Simple BarGraph`

[![Screenshot from Gyazo](https://gyazo.com/193ccc46d7bb051fc5d206f169d6b12e/raw)](https://gyazo.com/193ccc46d7bb051fc5d206f169d6b12e)

`Stacked BarGraph`

[![Screenshot from Gyazo](https://gyazo.com/6195043f1e314bdaf00dccb144044de5/raw)](https://gyazo.com/6195043f1e314bdaf00dccb144044de5)

`Pie Graph`

`Standard PieGraph`

[![Screenshot from Gyazo](https://gyazo.com

[2020-02-14 16:52] nxanil commented on #317
`Pie Graph`

`Simple Pie Graph`

[![Screenshot from Gyazo](https://gyazo.com/fae87bfebe00e3e14f6dcf397850747e/raw)](https://gyazo.com/fae87bfebe00e3e14f6dcf397850747e)

`Percentage Pie Graph`

[![Screenshot from Gyazo](https://gyazo.com/a1f7966c960350b4039bcc4dd121870f/raw)](https://gyazo.com/a1f7966c960350b4039bcc4dd121870f)

`Bar Graph`

`Custom Color BarGraph`

[![Screenshot from Gyazo](https:/

[2020-02-18 05:33] nxjiten commented on #317
`Line Graph`

![Line-graph](https://user-images.githubusercontent.com/49763726/74706864-13b06a00-523e-11ea-9c8a-8df992fd8d81.jpg)

`Gauge Graph`

![gauge-graph](https://user-images.githubusercontent.com/49763726/74706865-14e19700-523e-11ea-8b2c-8ed52f346074.jpg)

`Area Graph`

![Area-graph](https://user-images.githubusercontent.com/49763726/74706866-157a2d80-523e-11ea-8490-ff2f1d7f9281.jpg)

[2020-02-24 07:52] nxjiten commented on #317
`HeatMap Graph`

![heatmapgraph](https://user-images.githubusercontent.com/49763726/75135774-a3578c00-5708-11ea-96e7-61ad71ee7607.jpg)

[2020-02-25 05:19] nxanil commented on #317
`Chord Graph`

[![Screenshot from Gyazo](https://gyazo.com/c8b585f78182b35a247491550d0343b4/raw)](https://gyazo.com/c8b585f78182b35a247491550d0343b4)

[2020-03-04 06:18] nxjiten commented on #317
`Table Graph`

![table-graph](https://user-images.githubusercontent.com/49763726/75850762-fff42e80-5e0d-11ea-889c-eb793e96b8a4.jpg)

[2020-03-04 13:25] nxjiten commented on #317
`Gauge Graph`

![gaugegraph](https://user-images.githubusercontent.com/49763726/75883857-b9bcc080-5e49-11ea-8df2-7465d721ab55.jpg)

[2020-04-01 20:32] chaitanyahalbe opened #354 "eventType value is undefined/not available in filter context getColumnByContext"
eventType value is undefined/not available in filter context when ALL is selected

[2020-04-01 20:39] #354 closed

[2020-04-01 21:02] #327 closed

[2020-04-29 15:57] natabal opened #358 "Table Search bar does not get re-rendered when there is results"
When search results return no data the error card replaces the whole card and the user cannot clear the search results. See the attached gif.

Please provide fixes for r6.0 and master.

![event_analytics3](https://user-images.githubusercontent.com/4873481/80617733-512c3300-89f7-11ea-8881-e842dffae483.gif)

[2020-04-29 20:11] natabal opened #359 "stack exception on object-hash"
If the column data is a react element the following stack exception is thrown

Uncaught Error: Unknown object type "htmldivelement"
    at Object._object (object_hash.js:105)
    at Object.dispatch (object_hash.js:81)
    at object_hash.js:99

I noticed that a row_id is generated for each key why not making this a uuid (lodahs/uniqueId) and use this in your memoization instead of object-hash?

[2020-04-29 20:22] natabal opened #360 "Update props for mui-datatables"
Please update mui table props accordingly. This fix should go in master.

![Screen Shot 2020-04-29 at 1 19 44 PM](https://user-images.githubusercontent.com/4873481/80643039-49cb5080-8a1c-11ea-9de2-a612f90e0957.png)

[2020-04-30 14:24] nxanil commented on #358
@natabal

I have Fixed the above issue in master and have checked the same into r6.0. The above issue does not exist in r6.0.

[2020-05-01 06:27] #358 closed

[2020-05-05 04:34] #359 closed

[2020-05-14 23:42] killanch commented on #313
@natabal This issue still remains, could you pls re-assign for a fix,

![linegraphttips](https://user-images.githubusercontent.com/24920919/81996417-c99f1080-9601-11ea-9c04-95001f4fdf75.gif)

[2020-05-20 19:29] killanch commented on #313
@nxanil This is the other related issue, in the graph below.
If the pointer moves below the graph, we see only the lowest values.
If the pointer moves above the graph, we see only the highest peak values.
If the pointer moves along the graphs, then tooltips are ok, they show both the highs and lows.

![linettips](https://user-images.githubusercontent.com/24920919/82488812-6dbb0880-9a95-11ea-9c12-3

[2020-05-26 18:17] #313 closed

[2020-05-28 17:47] natabal opened #368 "Select columns does not persist on selecting next set of rows"
Steps to reproduce:
- load the page with the table (flow explorer), make sure you have more then the page size to you have more pages to go to
- click on Select columns and select or deselect a column
- You will notice that on the page the selected/deselected columns are properly rendered
- click on the > to go to the next page and notice that your column selection is reverted
- click < to go back

[2020-06-04 17:14] sreddy80 opened #370 "ACL flow details chart - When user clicks on 'select columns' button, names are displayed behind the editor"
@natabal
When user clicks on 'select columns' button, names are displayed behind the flows
![acl_select](https://user-images.githubusercontent.com/35505013/83789791-1186e580-a64c-11ea-96df-b855e2efbb59.gif)
 editor.

[2020-07-27 20:13] killanch opened #385 "Table - previous row does not get de-selected on selecting new row"
- previous row does not get deselected on selecting new row, it requires an extra click on the old row to de-select it.
- in the example below, parameters corresponding to newly selected row had to be consumed in subsequent visualizations, but it does not happen automatically anymore

Old UI:
![table-selection-old](https://user-images.githubusercontent.com/24920919/88587380-b8fc1500-d00a-11ea-8e18

[2020-08-13 21:34] chaitanyahalbe opened #388 "AreaGraph Issues"
Currently coming across a couple of issues in AreaGraph as shown in the screenshot:
![image](https://user-images.githubusercontent.com/46327518/90189053-5ed0b300-dd71-11ea-985c-f521c10f95da.png)

1. Tooltip:
- In my query the tooltip is something like below. But in the visualization, the tooltip is coming up data points as `value1 : value2`. The tooltip should have the label and format as mentione

[2020-08-13 21:34] chaitanyahalbe commented on #388
@natabal Open an issue for AreaGraph.

[2020-08-13 22:15] natabal commented on #388
@nxanil Please treat this with the highest priority

[2020-08-24 19:23] natabal commented on #388
@chaitanyahalbe If this is fixed please close.

[2020-08-24 19:24] natabal commented on #385
@killanch please check with the latest lib changes.

[2020-08-24 19:25] natabal opened #394 "combine v1/v2 graphs in one"
Let's remove the 2 versions of the graphs.

[2020-08-24 22:04] killanch commented on #385
@natabal I do not have access to a set up with AAR data, would you know of any set up with data?

[2020-08-24 22:05] natabal commented on #385
@killanch Check with @sreddy80

[2020-08-25 04:03] chaitanyahalbe opened #395 "AreaGraph data points not plotting correctly"
In the below screenshot, the area graph data points are not plotted properly with respect to the y Column ticks. Need support for multiple records in `yColumn` when multiple records are being used in the `linesColumn`. I tried it passing in array to yColumn but it doesn't work.

PR for reference/testing: https://github.com/nuagenetworks/vsd-react-ui/pull/4428

Screenshot:
In the below screenshot t

[2020-08-25 04:04] chaitanyahalbe commented on #395
@natabal @nxanil Found another bug in area graph.

[2020-08-25 04:11] #388 closed

[2020-08-25 04:51] killanch commented on #385
@natabal @nxanil Though the above issue appears fixed, I encountered the below exception.
I am not sure about the exact sequence of steps to trigger this, I was going back and forth across dashboards that were using table visualizations.
<img width="675" alt="Screen Shot 2020-08-24 at 9 34 36 PM" src="https://user-images.githubusercontent.com/24920919/91123524-f11a6600-e651-11ea-9471-b82ec40411ca.

[2020-08-25 21:17] natabal opened #398 "Table - row selection will save to store incorrect row"
As per screenshot below:

![Screen Shot 2020-08-25 at 2 14 07 PM](https://user-images.githubusercontent.com/4873481/91228788-ad6d3e00-e6dd-11ea-8936-4a602fb691b4.png)
![Screen Shot 2020-08-25 at 2 16 20 PM](https://user-images.githubusercontent.com/4873481/91228799-b0682e80-e6dd-11ea-8247-945741aaaf52.png)

[2020-08-26 12:08] nxanil commented on #395
@chaitanyahalbe

This is not an issue. This is the functionality. you are using `"stacked": true,` in the visualization file of this Area graph. The functionality of the stacked graph is the larger value comes first after that smaller one. If you want to show the orange dot below then you need to pass `"stacked":  false`.

[2020-08-26 18:08] natabal opened #400 "Table rows saved on the stores flatten objects"
As you can see in the first screenshot nuage_metadata is an object

<img width="1184" alt="Screen Shot 2020-08-26 at 11 02 13 AM" src="https://user-images.githubusercontent.com/4873481/91340112-4d81a080-e78c-11ea-97ea-f4cef4394acf.png">

Here once saved to store nuage_metadata has been flatten.

<img width="855" alt="Screen Shot 2020-08-26 at 11 02 31 AM" src="https://user-images.githubusercontent

[2020-08-26 19:03] natabal opened #401 "Table: matched rows are not saved in the store"
<img width="1390" alt="Screen Shot 2020-08-26 at 12 00 58 PM" src="https://user-images.githubusercontent.com/4873481/91345339-17481f00-e794-11ea-9260-de9af5026dac.png">

[2020-08-31 18:51] #395 closed

[2020-08-31 23:17] natabal opened #403 "Heatmap: when clicking on the heatmap exception in ReactTooltip"
[code]
<img width="1067" alt="Screen Shot 2020-08-31 at 4 16 33 PM" src="https://user-images.githubusercontent.com/4873481/91777677-62ec3580-eba5-11ea-85f3-640b0d79e03b.png">

[2020-09-02 16:58] #401 closed

[2020-09-02 16:59] #400 closed

[2020-09-02 16:59] #398 closed

[2020-09-02 17:00] natabal commented on #370
@sreddy80 Please verify this with latest and close if bug is fixed.

[2020-09-02 17:02] natabal commented on #368
This is not applicable anymore

[2020-09-02 17:02] #368 closed

[2020-09-02 18:22] killanch commented on #385
Both the above issues appear fixed now.

[2020-09-02 18:22] #385 closed

[2020-09-02 23:56] chaitanyahalbe opened #405 "Multiple Heatmaps on a Dashboard not rendering intermittently"
I have multiple heatmaps on 1 dashboard in PR - https://github.com/nuagenetworks/vis-config/pull/202 (associated js-bambou PR - https://github.com/nuagenetworks/js-bambou/pull/174).

Problem #1: All 3 heatmaps on the dashboard should render at once after selecting proper filters. But only a few of them get rendered at once. Rarely, all 3 will get rendered. All the queries are returning data.

Prob

[2020-09-02 23:56] chaitanyahalbe commented on #405
@natabal @nxanil Created issue for multiple heatmaps.

[2020-09-02 23:59] natabal commented on #405
@nxanil This issue is seen in other areas as well not just for this situation alone. See attached screenshots:

![ike-tab-1](https://user-images.githubusercontent.com/4873481/92048866-a4afe400-ed3d-11ea-9cb7-f9286f0fe130.PNG)
![ike-tab-2](https://user-images.githubusercontent.com/4873481/92048872-a679a780-ed3d-11ea-94e4-a1b4cb323dd9.PNG)
![image-2020-09-02-15-53-14-006](https://user-images.githubu

[2020-09-03 23:20] sreddy80 commented on #370
Verified

[2020-09-03 23:20] #370 closed

[2020-10-07 21:39] killanch opened #408 "Unable to copy values from table"
In the old table, we were able to copy values using the tooltip that would open up on mouse hover,
<img width="1144" alt="Copy-Paste-Old" src="https://user-images.githubusercontent.com/24920919/95390800-c6efd100-08aa-11eb-9fd9-d733dde37929.png">

But in the latest table, the above copy functionality is no more available.
![table-copy-paste](https://user-images.githubusercontent.com/24920919/953908

[2020-10-15 17:07] sreddy80 opened #409 "NAT-T visualization table- Missing scroll bar"
- [x] Horizontal scroll bar is missing on NAT-T tables, as a result all column names are not visible. Only when open in a separate window, it works.

![image](https://user-images.githubusercontent.com/35505013/96163089-47778880-0ece-11eb-9ec1-3427b834649b.png)

[2020-11-13 21:23] killanch commented on #409
@nxanil  Any update on this?
@sreddy80 tested and states that the issue is still not resolved

[2020-11-17 16:35] sreddy80 commented on #409
@nxanil - See the fix. Thanks!

[2020-11-17 16:35] #409 closed

[2020-11-17 21:46] killanch commented on #174
fixed

[2020-11-17 21:46] #174 closed

[2020-11-17 21:53] killanch commented on #220
fixed

[2020-11-17 21:53] #220 closed

[2020-11-17 21:56] killanch commented on #234
fixed

[2020-11-17 21:56] #234 closed

[2020-11-17 22:01] killanch commented on #408
@nxanil could you pls address this issue? we should be able to copy values from table

[2020-11-17 22:05] killanch commented on #213
@shashank-nx can you pls validate if fixed and close this issue?

[2020-11-17 22:11] killanch commented on #405
@chaitanyahalbe could you pls check and confirm if this issue has been fixed in above commit?

[2020-11-17 22:13] killanch commented on #403
@chaitanyahalbe can you pls validate if this issue has been fixed?

[2020-11-17 22:13] killanch commented on #360
fixed

[2020-11-17 22:13] #360 closed

[2020-11-17 22:14] #317 closed

[2020-11-17 22:43] chaitanyahalbe commented on #405
@killanch This has already been verified. I'll close this.

[2020-11-17 22:43] #405 closed

[2020-11-17 22:44] chaitanyahalbe commented on #403
@killanch This has already been verified. Closing this.

[2020-11-17 22:44] #403 closed

[2020-11-18 13:00] shashank-nx commented on #213
@killanch

Working fine at my end.

[2020-11-18 13:00] #213 closed

[2020-11-20 00:37] chaitanyahalbe opened #416 "Reduce whitespace in AreaGraphs and Heatmaps"
@nxanil There is a request from @jeroennokia and @AnamikaDubey07 to reduce the whitespace in the area graphs and heatmaps so that the data being displayed has more screen space. Can you please take a look and resolve this ASAP?
- Area Graph
![image](https://user-images.githubusercontent.com/46327518/99741212-6fd24400-2a85-11eb-80b0-6f0ec59df583.png)

- Heatmap
![image](https://user-images.githubus

[2020-11-20 02:02] jeroennokia commented on #416
also regarding the bottom white space. The X-axis title "Time" seems to take up a lot of space. While in general i agree, that labeling axises is preferred (though 90% of our graphs i guess it would be time), i'm not sure if it justifies this much real estate.

[2020-12-01 13:46] shashank-nx opened #418 "MultiLineGraph Tooltip Issue"
@killanch

MultiLineGraph Tooltip does not showing correct tooltip value. Shows same value of for every tooltip label.

![Tooltip](https://user-images.githubusercontent.com/47311742/100748585-7f4c7800-3409-11eb-8050-2ae392cc9afb.png)

[2020-12-01 17:42] killanch commented on #418
@shashank-nx could you pls fix this issue?
The visualization config used in the above screenshot is, https://github.com/nuagenetworks/vis-config/blob/master/visualizations/nsg-gw-selection.json

[2020-12-01 17:43] killanch commented on #418
@nxanil could you pls fix this issue?
The visualization config used in the above screenshot is, https://github.com/nuagenetworks/vis-config/blob/master/visualizations/nsg-gw-selection.json

[2020-12-01 21:16] killanch commented on #168
@nxanil could you pls check this?

[2020-12-08 04:38] #408 closed

[2020-12-08 23:12] chaitanyahalbe commented on #418
@shashank-nx What setup did you use to reproduce this issue?

[2020-12-09 19:04] preshitg opened #423 "BarGraph Tooltip Issue"
Bar Graph tooltip does not display the correct value for the y column. Data being passed to the BarGraph component is correct, yet it does not pick the correct value to be displayed for the y column. It is picking up the x column value.

e.g. in the screenshot below, Domain value in the tooltip should have been 'vss-domain' instead of '50'
This is using `vss-top-domains-blocked-traffic.json`

![Vs

[2020-12-09 22:11] killanch commented on #423
@nxanil could you pls fix this?

[2020-12-10 07:38] shashank-nx commented on #418
@chaitanyahalbe

I am using this Setup: https://5fcbde9543198e9e406fbbce.labs.nuagex.io:8443/

[2020-12-12 00:55] #418 closed

[2020-12-12 00:58] killanch commented on #418
@shashank-nx could you pls validate the fix?

[2020-12-14 09:12] shashank-nx commented on #418
@killanch

it's working fine.

![workinfine](https://user-images.githubusercontent.com/47311742/102061802-e90d4e80-3e19-11eb-88fa-8c807af9434d.png)

[2020-12-14 22:12] chaitanyahalbe opened #427 "Visualization Filter Issue"
@nxanil I am seeing this issue again. When I change the filter in one of the area graphs in visualizations, it also changes the filters in other visualizations on the same dashboard. Attached GIF.
![Viz_Filter_Issue](https://user-images.githubusercontent.com/46327518/102141844-54552180-3e16-11eb-9295-31a043c1afca.gif)

cc @killanch

[2020-12-14 22:59] killanch commented on #427
@nxanil could you pls prioritize this as it breaks existing functionality?

[2020-12-15 10:30] nxanil commented on #168
@killanch

This issue is already fixed.

![chordGraph_issue](https://user-images.githubusercontent.com/26645756/102203407-905bb580-3eee-11eb-8a19-8791839e06f2.gif)

[2020-12-15 10:30] #168 closed

[2020-12-16 00:44] chaitanyahalbe opened #429 "FEC Explorer Table query issued twice"
@nxanil There was an enhancement request for FEC Explorer where there will be 2 Tables on 1 dashboard which have the same query. The query is invoked twice for each table. For optimization purposes, in this scenario, the query should only be invoked once.

Screenshot:
![image](https://user-images.githubusercontent.com/46327518/102289945-c6039d00-3ef4-11eb-80d5-61c706f8ed06.png)

cc @killanch

[2020-12-17 10:22] nxanil commented on #429
@chaitanyahalbe

I have checked at my end the query if invoke once for each visualization. Please check the below mention gif

![tableQueryIssue](https://user-images.githubusercontent.com/26645756/102475402-d4ca8b00-407f-11eb-8fdc-caa0603b26cc.gif)

[2020-12-17 19:01] killanch commented on #429
@nxanil your observation is correct.
but the request is to optimize the current behavior.
in case there are no visualization-specific filters and the visualizations use the same query (using dashboard level filters), can we avoid the duplication query? the query will be exactly the same

[2020-12-17 22:09] chaitanyahalbe opened #434 "Heatmap & AreaGraph Legends"
@nxanil

1. There was a request from PLM to display all values from the `heatmapColor` object in a Heatmap visualization in the legend, unlike right now which displays the legend according to the values present in the heatmap.

2. a. Move the **Heatmap** and **AreaGraph** legend so that it is placed slightly on the right side from where the y-axis is so that it is placed below the graphs
2. b. Red

[2020-12-18 20:12] #416 closed

[2020-12-21 04:48] #423 closed

[2020-12-21 04:49] nxanil commented on #423
This issue has been fixed.

[2020-12-22 10:19] nxanil commented on #434
@chaitanyahalbe  @killanch

Please suggest which one is correct.

1.
![test](https://user-images.githubusercontent.com/26645756/102877656-1a66c980-446d-11eb-8cb4-b56f8dd96232.png)

2.
![test2](https://user-images.githubusercontent.com/26645756/102877742-3f5b3c80-446d-11eb-94f8-ba511c6150fc.png)

[2021-01-05 00:51] killanch commented on #434
@nxanil Option 2 above is preferable.
@chaitanyahalbe Can you pls confirm?

[2021-01-05 19:28] chaitanyahalbe commented on #434
@nxanil @killanch Yes, option 2 looks much better.

[2021-01-20 06:20] #223 closed

[2021-01-20 22:34] sreddy80 commented on #434
@nxanil - Time values and legends are not displayed properly on the below heatmap.
![image](https://user-images.githubusercontent.com/35505013/105249217-9c114c00-5b2c-11eb-9330-5bb024b0c519.png)

c: @killanch @chaitanyahalbe

[2021-01-20 22:57] killanch commented on #434
@nxanil can you pls check this?

[2021-01-25 23:40] killanch opened #440 "Table - disable sort on selective columns"
- Not all columns are sortable on a table
- Table functionality to be enhanced/fixed to take into consideration `sort` attribute within each column specification
- For example, in the table below, Application Stack is not a sortable field on Elasticsearch.
We have the below in configuration
```{ "column": "ApplicationStack.value", "label": "Application Stack", "sort": false},```
Query should not b

[2021-01-27 15:58] #440 closed

[2021-01-27 18:22] killanch commented on #434
@sreddy80 this issue has been fixed today, could you pls validate the fix in next current build?

[2021-01-27 23:03] preshitg commented on #427
@nxanil : Can you please revisit this? This seems to have broken the vss domain flow graph for PG.
Details in this PR: https://github.com/nuagenetworks/vsd-react-ui/pull/4847

[2021-02-01 04:53] chaitanyahalbe opened #446 "FEC Explorer : For All numeric columns <=, >=, <, > search is not available"
This is applicable to all graphs of type `Table` and specifically to FEC Explorer. We need to add support for `<=, >=, <, >` operations in the search. Right now,   support is only available for `equals` and `not equals`.

cc @killanch
Jira: http://mvjira.mv.usa.alcatel.com:8080/browse/VSD-51763

[2021-02-02 01:06] killanch commented on #434
@sreddy80 any update on this?

[2021-02-02 01:07] killanch commented on #429
@sreddy80 any update on this?
As per last comments in https://github.com/nuagenetworks/js-bambou/pull/182, you were to test the war file

[2021-02-02 01:43] sreddy80 commented on #429
@killanch - I had verified the war file and spot checked Visualizations.  As part of this verification, I had reported related issue on https://github.com/nuagenetworks/vis-graphs/issues/434.
I need to bring up FEC setup for this, will check with Anamika on this.

[2021-02-03 21:44] sreddy80 commented on #434
@killanch - This verification is still pending due to issues with the setup bring up.

[2021-02-08 21:06] sreddy80 commented on #434
@killanch - this fix is not in 20.10 build.

[2021-02-09 20:30] killanch commented on #434
@sreddy80 Can you pls confirm if the fix working as expected in 0.0?
@chaitanyahalbe can you pls make a back-port PR for r20.10? we will merge once 0.0 tests are completed. pls raise a JIRA ticket for tracking if one does not exist already

[2021-02-10 04:06] chaitanyahalbe commented on #446
Hi @AnamikaDubey07 you can also use this issue to follow-up with @nxanil.

[2021-02-10 06:04] chaitanyahalbe commented on #434
Sure. Will do it today.

[2021-02-10 19:04] sreddy80 commented on #434
@killanch @chaitanyahalbe - I do not see this fix in 0.0. Verified with latest build.

[2021-02-10 21:01] killanch commented on #434
@chaitanyahalbe could you pls check this and provide an overall status summary on 0.0 and r20.10? thanks.

[2021-02-11 02:31] chaitanyahalbe commented on #434
@killanch @sreddy80 https://github.com/nuagenetworks/vis-graphs/pull/439 and https://github.com/nuagenetworks/vis-graphs/pull/447 are the PRs for above fix. If the above fix is not the fixed then the fix failed.

[2021-02-11 02:49] chaitanyahalbe commented on #434
@killanch I verified that the above PRs have been merged in 0.0 and sub-module is up-to-date. Opened up PR https://github.com/nuagenetworks/vsd-react-ui/pull/4904 to update vis-graphs in 20.10.

[2021-02-12 01:26] killanch opened #448 "Donut graph - reduce white space"
Need to reduce white space such that the graph appears larger.

Now:
<img width="461" alt="Screen Shot 2021-02-11 at 3 47 58 PM" src="https://user-images.githubusercontent.com/24920919/107719921-2d885f80-6c8e-11eb-84f0-08410cc4babd.png">

Previous release:
<img width="468" alt="Screen Shot 2021-02-11 at 3 48 14 PM" src="https://user-images.githubusercontent.com/24920919/107719911-26615180-6c8e-11e

[2021-02-17 01:49] AnamikaDubey07 commented on #446
HI @nxanil  Can you please let me know if this is done.
Thanks

[2021-02-17 10:03] nxanil commented on #446
@chaitanyahalbe @killanch @AnamikaDubey07

This feature is only required for `FEC Explorer`. OR it is required for everywhere where `SearchBar` is present.

[2021-02-17 11:06] chaitanyahalbe commented on #446
@nxanil Currently, it is only required for FEC Explorer. But it will be good if we are able to enable or disable this feature through the config files just like we do for the searchBar right now.

[2021-02-17 11:24] AnamikaDubey07 commented on #446
@nxanil It will be good if we have this feature in VSS as well on flow explorer,event analytics tabs as well.
as suggested by chaitanya enable/disable through config file will be a good appoarch as per my understanding.

[2021-02-18 04:45] nxanil commented on #446
@chaitanyahalbe @AnamikaDubey07

Thanks for the quick reply. I will do the same. I will try to complete this by Friday EOD.

[2021-02-18 04:58] killanch commented on #434
@sreddy80 can you pls verify the fix on r20.10. @chaitanyahalbe has back-ported the fixes.

[2021-02-22 17:49] killanch commented on #446
@chaitanyahalbe framework changes merged to 0.0 and r20.10. can you pls implement vis-config changes to enable numeric search on applicable tables?

[2021-02-22 17:49] #446 closed

[2021-02-22 17:50] killanch commented on #434
@sreddy80 any update on this?

[2021-02-22 18:22] sreddy80 commented on #434
@killanch @chaitanyahalbe - I re-verified the fix on r20.10 latest build. Do not see the fix  with chrome default zoom level set to 100%.
**Note: Graph appears fine with zoom default level set < 100%**

![image](https://user-images.githubusercontent.com/35505013/108644306-4ef20400-7463-11eb-8a3f-1f56a930807d.png)

![image](https://user-images.githubusercontent.com/35505013/108644258-2538dd00-7463-

[2021-02-22 19:11] killanch commented on #429
@sreddy80 any update on this? pls let me know in case you need an updated war file

[2021-02-22 20:04] sreddy80 commented on #429
@killanch - Did a sanity spot check on the graphs on this war file. Related Issue #434 is pending

[2021-02-23 01:37] killanch opened #454 "Line graph - tooltip not accurate"
Issue seen with below config:
https://github.com/nuagenetworks/vis-config/blob/master/visualizations/aar-nsg-app-linechart.json
https://github.com/nuagenetworks/vis-config/blob/master/queries/aar-nsg-app-linechart.json

Data sent to LineGraph component:
[code]

Tooltip in 0.0 and r20.10:
Appropriate L7Classification is not reflected in tooltip,
![linett00](https://user-images.githubusercontent.com

[2021-02-26 23:03] #454 closed

[2021-04-13 14:10] shashank-nx opened #463 "Table column selection issue"
![tableColumnIssue](https://user-images.githubusercontent.com/47311742/114566559-09e29500-9c90-11eb-9f6f-8e286f10e7bf.gif)

[2021-04-13 14:12] nxanil commented on #429
@chaitanyahalbe
This issue is already created ISSUE:[182](https://github.com/nuagenetworks/js-bambou/pull/182) and has been resolved there.
We can close this issue.

[2021-04-13 14:13] nxanil commented on #427
@preshitg @chaitanyahalbe
This issue had been resolved. We can close this issue.

[2021-04-13 19:08] preshitg commented on #427
Closing this as fixed

[2021-04-13 19:08] #427 closed